# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Files generete from latex compiler and makefile of monograph1

monograph1/main-tcc.aux
monograph1/main-tcc.blg
monograph1/main-tcc.d
monograph1/main-tcc.lof
monograph1/main-tcc.lot
monograph1/main-tcc.out
monograph1/main-tcc.pdf
monograph1/main-tcc.toc
monograph1/main-tcc.bbl
