#------Files generates by TeXLive in monograph------
monograph2/main-tcc.aux
monograph2/main-tcc.blg
monograph2/main-tcc.d
monograph2/main-tcc.lof
monograph2/main-tcc.lot
monograph2/main-tcc.out
monograph2/main-tcc.pdf
monograph2/main-tcc.toc
monograph2/main-tcc.bbl

#------Files generate by latex in apresentacao------


#------arquivo de backup criado pelo aspell------
*.bak