#------Files generates by TeXLive in monograph------
monograph2/main-tcc.aux
monograph2/main-tcc.blg
monograph2/main-tcc.d
monograph2/main-tcc.lof
monograph2/main-tcc.lot
monograph2/main-tcc.out
monograph2/main-tcc.pdf
monograph2/main-tcc.toc
monograph2/main-tcc.bbl

#------Files generate by latex in apresentacao------
apresentacao2/apresentacao.aux
apresentacao2/apresentacao.bbl
apresentacao2/apresentacao.nav
apresentacao2/apresentacao.out
apresentacao2/apresentacao.snm
apresentacao2/apresentacao.toc
apresentacao2/apresentacao.pdf
apresentacao2/apresentacao.blg

#------arquivo de backup criado pelo aspell------
*.bak